*{
    margin:0;
}

.container{
    color: white;
    max-width: 15000px;
    margin: 0 auto;
    padding:  30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0, 3);
    margin: 0;
    background-color: #61a3ba;
    
}

.container::after{
    content: "";
    display: block;
    clear: both;
}

h1{
    font-size: 400%;
    margin: 0%;
    margin-top: 20px;
}

h2{
    font-size: 250%;
    margin-top: 0%;
    margin: 0%;
}

#profil{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    shape-outside: margin-box;
    margin: 0 20px 5px 0;
    border: 2px solid #813731;
}

#content{
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

.head-border {
    display: flex;
    align-items: center;
    font-size: 200%;
}
 
.head-border:before,
.head-border:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background-color: #666;
}
 
.head-border:before {
    margin-right: 1rem;
}
 
.head-border:after {
    margin-left: 1rem;
}

.techno {
    margin-top: 10px;
    display: grid;
    grid-template : auto;
    justify-content: center;
}

#icon{
    height: 60px;
}

progress {
    -webkit-appearance: none;

  }

  ::-webkit-progress-value {
    background-color: #813731;
  }

  ::-webkit-progress-bar {
    background-color: #61a3ba;
  }



#intitule{
    font-weight: bold;
    font-size: large;
    line-height: 1.5;
}

#info{
    line-height: 1.5;
}


aside{
    position: relative;
    display: inline-block;
    margin: auto;
    max-height: 1200px;
    background-color: #813731;
    color: azure;
    border: 2px solid #61a3ba;;
    z-index: 0;
    font-size: large;
}

.head-aside {
    display: flex;
    align-items: center;
    font-size: 200%;
}
 
.head-aside:before,
.head-aside:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background-color: #61a3ba;
}
 
.head-aside:before {
    margin-right: 1rem;
}
 
.head-aside:after {
    margin-left: 1rem;
}

header,main,aside {
    min-height: 100px;
  }

@media screen and (min-width: 481px) and (max-width: 960px) {

    #content {
      float: left;
      width: 100%;
    }
    aside {
      width: 100%;
      float: left;
    }
    .techno {
        margin-top: 10px;
        display: grid;
        justify-content: center;
    }
    .e{
        display: grid;
        grid-template-columns: 40% 60%;
    }
    .icon{
        margin-bottom: 20px;
    }
    progress {
        margin: 30px 50px 20px 0px;
      }

}

@media screen and (min-width: 960px) {


    aside {
      width: 30%;
      position: absolute;
      height: 750px;
    }

    progress {
        margin: 0px 50px 20px 25px;
    
      }

  }